@tailwind base;
@tailwind components;
@tailwind utilities;

/*Initialize vars*/
:root {
    --color-theme: #000000;
    --color-theme-light: #ffffff;
    --color-theme-lightest: #ffffff;
    --color-theme-dark: #000000;
    --color-theme-darkest: #000000;
    --color-theme-light-text: #ffffff;
    --color-theme-dark-text: #000000;
    --color-theme-muted-light: #ffffff;
    --color-theme-muted-dark: #000000;
    --color-theme-muted-medium: #ffffff;
    --color-theme-muted-light-medium: #ffffff;
    --color-theme-muted-dark-medium: #000000;
}


body {
  color: var(--color-theme-light-text);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--color-theme-darkest)
    )
    var(--color-theme-darkest);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
